@font-face {
    font-family: 'Pixld';
    src: url('fonts/coders-crux.regular.ttf') format('truetype');
    src: url('fonts/coders-crux.regular.eot');
    src: url('fonts/coders-crux.regular.eot?#iefix') format('embedded-opentype');
    src: url('fonts/coders-crux.regular.woff') format('woff');
    src: url('fonts/coders-crux.regular.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mainsection {
    width: 1200px;
    margin: 0 auto;
}

.nav-image {
    padding-bottom: 0px !important;
    position: relative !important;
    top: 30px !important;
}

.nav-image img {
    max-width:20px !important;
    max-height: 20px;
    margin: 0px;
    position: relative;
    top: -5px;
}

.nav-link {
    position: relative !important;
    top: 35px !important;
}

.nav a {
  position: relative;
  top: 40px;
}

.brand img {
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.brand:hover img {
    box-shadow: 0px 0px 10px 5px #555555;
}

.competition-link {
    display: inline-block;
    width: 100%;
}

.competition-link figure{
    margin: 2px;
    width: 100%;
    float: left;
}

.competition-link figcaption {
    position: relative;
    top: 20px;
    left: 10px;
    float: left;
}

.competition-link img {
    float: left;
    border: 5px solid #333333;
    margin: 0px;
    max-width: 50px;
    max-height: 50px;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.competition-link img:hover {
    box-shadow: 0px 0px 10px 5px #555555;
}

.form input[type="text"] {
    width: 400px;
}

.form textarea {
    width: 800px;
    height: 300px;
}

.loginForm {
    width: 900px;
    margin: auto;
}

.pic {
    border: 10px solid #333;
    margin: 20px;
    overflow: hidden;

    -webkit-box-shadow: 5px 5px 5px #111;
            box-shadow: 5px 5px 5px #111;
}

.tilt {
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-2deg);
       -moz-transform: rotate(-2deg);
         -o-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
}

/* Content specific classes (ie formatting for a blog, resource etc) */

.blog {
}

.blog h2 {
    word-wrap:break-word;
}

.blog .blogBody {
    word-wrap:break-word;
}

.competition li {
    margin-left:150px;
}

.competition img {
    float:left;
    border:5px solid #333;
    margin:5px;
    margin-right:15px;
    max-width:120px;
    max-height:120px;
}

.resource {
}

/* End content specific classes */

/* For the main page */

.left-content {
    width: 900px;
    float: left;
}

.right-content {
    width: 250px;
    float: right;
}

input[type="text"], input[type="password"] {
    margin-bottom: 5px;
    height: 30px;
}

textarea {
    width: 300px;
    height: 150px;
}
