/*
* jQuery Mobile 1.3.1
* Git HEAD hash: 74b4bec049fd93e4fe40205e6157de16eb64eb46 <> Date: Mon Apr 8 2013 19:41:28 UTC
* http://jquerymobile.com
*
* Copyright 2010, 2013 jQuery Foundation, Inc. and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Swatches */
/* A
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-a {
	border: 1px solid #257975 /*{a-bar-border}*/;
	background: #595959 /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #595959 /*{a-bar-background-start}*/), to( #595959 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #595959 /*{a-bar-background-start}*/, #595959 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #595959 /*{a-bar-background-start}*/, #595959 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #595959 /*{a-bar-background-start}*/, #595959 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #595959 /*{a-bar-background-start}*/, #595959 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #595959 /*{a-bar-background-start}*/, #595959 /*{a-bar-background-end}*/);
}
.ui-bar-a .ui-link-inherit {
	color: #ffffff /*{a-bar-color}*/;
}
.ui-bar-a a.ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-a a.ui-link:visited {
    color: #2489ce /*{a-bar-link-visited}*/;
}
.ui-bar-a a.ui-link:hover {
	color: #2489ce /*{a-bar-link-hover}*/;
}
.ui-bar-a a.ui-link:active {
	color: #2489ce /*{a-bar-link-active}*/;
}
.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #257975 /*{a-body-border}*/;
	color: #ffffff /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 0 /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #ffffff /*{a-body-shadow-color}*/;
	background: #000000 /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000000 /*{a-body-background-start}*/), to( #000000 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000000 /*{a-body-background-start}*/, #000000 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000000 /*{a-body-background-start}*/, #000000 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000000 /*{a-body-background-start}*/, #000000 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000000 /*{a-body-background-start}*/, #000000 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000000 /*{a-body-background-start}*/, #000000 /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
	color: #ffffff /*{a-body-color}*/;
}
.ui-body-a .ui-link {
	color: #33acff /*{a-body-link-color}*/;
	font-weight: bold;
}
.ui-body-a .ui-link:visited {
    color: #2489ce /*{a-body-link-visited}*/;
}
.ui-body-a .ui-link:hover {
	color: #2489ce /*{a-body-link-hover}*/;
}
.ui-body-a .ui-link:active {
	color: #2489ce /*{a-body-link-active}*/;
}
.ui-btn-up-a {
	border: 1px solid #257975 /*{a-bup-border}*/;
	background: #424242 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #c7c7c7 /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #000000 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #424242 /*{a-bup-background-start}*/), to( #424242 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #424242 /*{a-bup-background-start}*/, #424242 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #424242 /*{a-bup-background-start}*/, #424242 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #424242 /*{a-bup-background-start}*/, #424242 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #424242 /*{a-bup-background-start}*/, #424242 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #424242 /*{a-bup-background-start}*/, #424242 /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
	color: #c7c7c7 /*{a-bup-color}*/;
}
.ui-btn-hover-a {
	border: 1px solid #263873 /*{a-bhover-border}*/;
	background: #303030 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #366b1a /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #000000 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #303030 /*{a-bhover-background-start}*/), to( #303030 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #303030 /*{a-bhover-background-start}*/, #303030 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #303030 /*{a-bhover-background-start}*/, #303030 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #303030 /*{a-bhover-background-start}*/, #303030 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #303030 /*{a-bhover-background-start}*/, #303030 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #303030 /*{a-bhover-background-start}*/, #303030 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #366b1a /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #000000 /*{a-bdown-border}*/;
	background: #821c1c /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #a3d3db /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #000000 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #821c1c /*{a-bdown-background-start}*/), to( #821c1c /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #821c1c /*{a-bdown-background-start}*/, #821c1c /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #821c1c /*{a-bdown-background-start}*/, #821c1c /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #821c1c /*{a-bdown-background-start}*/, #821c1c /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #821c1c /*{a-bdown-background-start}*/, #821c1c /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #821c1c /*{a-bdown-background-start}*/, #821c1c /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
	color: #a3d3db /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
	text-decoration: none;
}
/* B
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-b {
	border: 1px solid #b3b3b3 /*{b-bar-border}*/;
	background: #eeeeee /*{b-bar-background-color}*/;
	color: #3e3e3e /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 0 /*{b-bar-shadow-radius}*/ #ffffff /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e4e4e4 /*{b-bar-background-start}*/), to( #f7f7f7 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e4e4e4 /*{b-bar-background-start}*/, #f7f7f7 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e4e4e4 /*{b-bar-background-start}*/, #f7f7f7 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e4e4e4 /*{b-bar-background-start}*/, #f7f7f7 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e4e4e4 /*{b-bar-background-start}*/, #f7f7f7 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e4e4e4 /*{b-bar-background-start}*/, #f7f7f7 /*{b-bar-background-end}*/);
}
.ui-bar-b .ui-link-inherit {
	color: #3e3e3e /*{b-bar-color}*/;
}
.ui-bar-b a.ui-link {
	color: #7cc4e7 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-b a.ui-link:visited {
    color: #2489ce /*{b-bar-link-visited}*/;
}
.ui-bar-b a.ui-link:hover {
	color: #2489ce /*{b-bar-link-hover}*/;
}
.ui-bar-b a.ui-link:active {
	color: #2489ce /*{b-bar-link-active}*/;
}
.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-body-b,
.ui-overlay-b {
	border: 1px solid #aaaaaa /*{b-body-border}*/;
	color: #333333 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #ffffff /*{b-body-shadow-color}*/;
	background: #f9f9f9 /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{b-body-background-start}*/), to( #eeeeee /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{b-body-background-start}*/, #eeeeee /*{b-body-background-end}*/);
}
.ui-overlay-b {
	background-image: none;
	border-width: 0;
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-body-b .ui-link-inherit {
	color: #333333 /*{b-body-color}*/;
}
.ui-body-b .ui-link {
	color: #2489ce /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-b .ui-link:visited {
    color: #2489ce /*{b-body-link-visited}*/;
}
.ui-body-b .ui-link:hover {
	color: #2489ce /*{b-body-link-hover}*/;
}
.ui-body-b .ui-link:active {
	color: #2489ce /*{b-body-link-active}*/;
}
.ui-btn-up-b {
	border: 1px solid #cccccc /*{b-bup-border}*/;
	background: #eeeeee /*{b-bup-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #ffffff /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{b-bup-background-start}*/), to( #f1f1f1 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{b-bup-background-start}*/, #f1f1f1 /*{b-bup-background-end}*/);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
	color: #2f3e46 /*{b-bup-color}*/;
}
.ui-btn-hover-b {
	border: 1px solid #bbbbbb /*{b-bhover-border}*/;
	background: #dfdfdf /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #ffffff /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{b-bhover-background-start}*/), to( #e0e0e0 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
	color: #2f3e46 /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid #bbbbbb /*{b-bdown-border}*/;
	background: #d6d6d6 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #ffffff /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{b-bdown-background-start}*/), to( #dfdfdf /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
	color: #2f3e46 /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
	text-decoration: none;
}


/* C
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-c {
	border: 1px solid #155c14 /*{c-bar-border}*/;
	background: #2b3b2b /*{c-bar-background-color}*/;
	color: #ffffff /*{c-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 0 /*{c-bar-shadow-radius}*/ #000000 /*{c-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #2b3b2b /*{c-bar-background-start}*/), to( #2b3b2b /*{c-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #2b3b2b /*{c-bar-background-start}*/, #2b3b2b /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #2b3b2b /*{c-bar-background-start}*/, #2b3b2b /*{c-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #2b3b2b /*{c-bar-background-start}*/, #2b3b2b /*{c-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #2b3b2b /*{c-bar-background-start}*/, #2b3b2b /*{c-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #2b3b2b /*{c-bar-background-start}*/, #2b3b2b /*{c-bar-background-end}*/);
}
.ui-bar-c .ui-link-inherit {
	color: #ffffff /*{c-bar-color}*/;
}
.ui-bar-c a.ui-link {
	color: #7cc4e7 /*{c-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-c a.ui-link:visited {
    color: #2489ce /*{c-bar-link-visited}*/;
}
.ui-bar-c a.ui-link:hover {
	color: #2489ce /*{c-bar-link-hover}*/;
}
.ui-bar-c a.ui-link:active {
	color: #2489ce /*{c-bar-link-active}*/;
}
.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-body-c,
.ui-overlay-c {
	border: 1px solid #257975 /*{c-body-border}*/;
	color: #ffffff /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 0 /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #000000 /*{c-body-shadow-color}*/;
	background: #6e1207 /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6e1207 /*{c-body-background-start}*/), to( #6e1207 /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6e1207 /*{c-body-background-start}*/, #6e1207 /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6e1207 /*{c-body-background-start}*/, #6e1207 /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6e1207 /*{c-body-background-start}*/, #6e1207 /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6e1207 /*{c-body-background-start}*/, #6e1207 /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6e1207 /*{c-body-background-start}*/, #6e1207 /*{c-body-background-end}*/);
}
.ui-overlay-c {
	background-image: none;
	border-width: 0;
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-body-c .ui-link-inherit {
	color: #ffffff /*{c-body-color}*/;
}
.ui-body-c .ui-link {
	color: #139dfb /*{c-body-link-color}*/;
	font-weight: bold;
}
.ui-body-c .ui-link:visited {
    color: #2489ce /*{c-body-link-visited}*/;
}
.ui-body-c .ui-link:hover {
	color: #2489ce /*{c-body-link-hover}*/;
}
.ui-body-c .ui-link:active {
	color: #2489ce /*{c-body-link-active}*/;
}
.ui-btn-up-c {
	border: 1px solid #257975 /*{c-bup-border}*/;
	background: #000000 /*{c-bup-background-color}*/;
	font-weight: bold;
	color: #c7c7c7 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #000000 /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000000 /*{c-bup-background-start}*/), to( #000000 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000000 /*{c-bup-background-start}*/, #000000 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000000 /*{c-bup-background-start}*/, #000000 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000000 /*{c-bup-background-start}*/, #000000 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000000 /*{c-bup-background-start}*/, #000000 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000000 /*{c-bup-background-start}*/, #000000 /*{c-bup-background-end}*/);
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
	color: #c7c7c7 /*{c-bup-color}*/;
}
.ui-btn-hover-c {
	border: 1px solid #263873 /*{c-bhover-border}*/;
	background: #636363 /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: #3cbd00 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #000000 /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #636363 /*{c-bhover-background-start}*/), to( #636363 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #636363 /*{c-bhover-background-start}*/, #636363 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #636363 /*{c-bhover-background-start}*/, #636363 /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #636363 /*{c-bhover-background-start}*/, #636363 /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #636363 /*{c-bhover-background-start}*/, #636363 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #636363 /*{c-bhover-background-start}*/, #636363 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
	color: #3cbd00 /*{c-bhover-color}*/;
}
.ui-btn-down-c {
	border: 1px solid #000000 /*{c-bdown-border}*/;
	background: #310033 /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: #9b95e9 /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #000000 /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #310033 /*{c-bdown-background-start}*/), to( #310033 /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #310033 /*{c-bdown-background-start}*/, #310033 /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #310033 /*{c-bdown-background-start}*/, #310033 /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #310033 /*{c-bdown-background-start}*/, #310033 /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #310033 /*{c-bdown-background-start}*/, #310033 /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #310033 /*{c-bdown-background-start}*/, #310033 /*{c-bdown-background-end}*/);
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
	color: #9b95e9 /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
	text-decoration: none;
}


/* D
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-d {
	border: 1px solid #6c05c7 /*{d-bar-border}*/;
	background: #000000 /*{d-bar-background-color}*/;
	color: #00ff00 /*{d-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 0 /*{d-bar-shadow-radius}*/ #000000 /*{d-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000000 /*{d-bar-background-start}*/), to( #000000 /*{d-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000000 /*{d-bar-background-start}*/, #000000 /*{d-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000000 /*{d-bar-background-start}*/, #000000 /*{d-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000000 /*{d-bar-background-start}*/, #000000 /*{d-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000000 /*{d-bar-background-start}*/, #000000 /*{d-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000000 /*{d-bar-background-start}*/, #000000 /*{d-bar-background-end}*/);
}
.ui-bar-d .ui-link-inherit {
	color: #00ff00 /*{d-bar-color}*/;
}
.ui-bar-d a.ui-link {
	color: #7cc4e7 /*{d-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-d a.ui-link:visited {
    color: #2489ce /*{d-bar-link-visited}*/;
}
.ui-bar-d a.ui-link:hover {
	color: #2489ce /*{d-bar-link-hover}*/;
}
.ui-bar-d a.ui-link:active {
	color: #2489ce /*{d-bar-link-active}*/;
}
.ui-bar-d,
.ui-bar-d input,
.ui-bar-d select,
.ui-bar-d textarea,
.ui-bar-d button {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-body-d,
.ui-overlay-d {
	border: 1px solid #9c3321 /*{d-body-border}*/;
	color: #ffffff /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 0 /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ #ffffff /*{d-body-shadow-color}*/;
	background: #000000 /*{d-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000000 /*{d-body-background-start}*/), to( #000000 /*{d-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000000 /*{d-body-background-start}*/, #000000 /*{d-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000000 /*{d-body-background-start}*/, #000000 /*{d-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000000 /*{d-body-background-start}*/, #000000 /*{d-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000000 /*{d-body-background-start}*/, #000000 /*{d-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000000 /*{d-body-background-start}*/, #000000 /*{d-body-background-end}*/);
}
.ui-overlay-d {
	background-image: none;
	border-width: 0;
}
.ui-body-d,
.ui-body-d input,
.ui-body-d select,
.ui-body-d textarea,
.ui-body-d button {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-body-d .ui-link-inherit {
	color: #ffffff /*{d-body-color}*/;
}
.ui-body-d .ui-link {
	color: #33acff /*{d-body-link-color}*/;
	font-weight: bold;
}
.ui-body-d .ui-link:visited {
    color: #2489ce /*{d-body-link-visited}*/;
}
.ui-body-d .ui-link:hover {
	color: #2489ce /*{d-body-link-hover}*/;
}
.ui-body-d .ui-link:active {
	color: #2489ce /*{d-body-link-active}*/;
}
.ui-btn-up-d {
	border: 1px solid #792528 /*{d-bup-border}*/;
	background: #000000 /*{d-bup-background-color}*/;
	font-weight: bold;
	color: #00ff00 /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 0 /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #000000 /*{d-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000000 /*{d-bup-background-start}*/), to( #000000 /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000000 /*{d-bup-background-start}*/, #000000 /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000000 /*{d-bup-background-start}*/, #000000 /*{d-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000000 /*{d-bup-background-start}*/, #000000 /*{d-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000000 /*{d-bup-background-start}*/, #000000 /*{d-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000000 /*{d-bup-background-start}*/, #000000 /*{d-bup-background-end}*/);
}
.ui-btn-up-d:visited,
.ui-btn-up-d a.ui-link-inherit {
	color: #00ff00 /*{d-bup-color}*/;
}
.ui-btn-hover-d {
	border: 1px solid #263873 /*{d-bhover-border}*/;
	background: #303030 /*{d-bhover-background-color}*/;
	font-weight: bold;
	color: #ff0000 /*{d-bhover-color}*/;
	text-shadow: 0 /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 0 /*{d-bhover-shadow-radius}*/ #000000 /*{d-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #303030 /*{d-bhover-background-start}*/), to( #303030 /*{d-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #303030 /*{d-bhover-background-start}*/, #303030 /*{d-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #303030 /*{d-bhover-background-start}*/, #303030 /*{d-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #303030 /*{d-bhover-background-start}*/, #303030 /*{d-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #303030 /*{d-bhover-background-start}*/, #303030 /*{d-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #303030 /*{d-bhover-background-start}*/, #303030 /*{d-bhover-background-end}*/);
}
.ui-btn-hover-d:visited,
.ui-btn-hover-d:hover,
.ui-btn-hover-d a.ui-link-inherit {
	color: #ff0000 /*{d-bhover-color}*/;
}
.ui-btn-down-d {
	border: 1px solid #000000 /*{d-bdown-border}*/;
	background: #459900 /*{d-bdown-background-color}*/;
	font-weight: bold;
	color: #0000ff /*{d-bdown-color}*/;
	text-shadow: 0 /*{d-bdown-shadow-x}*/ 1px /*{d-bdown-shadow-y}*/ 0 /*{d-bdown-shadow-radius}*/ #000000 /*{d-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #459900 /*{d-bdown-background-start}*/), to( #459900 /*{d-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #459900 /*{d-bdown-background-start}*/, #459900 /*{d-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #459900 /*{d-bdown-background-start}*/, #459900 /*{d-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #459900 /*{d-bdown-background-start}*/, #459900 /*{d-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #459900 /*{d-bdown-background-start}*/, #459900 /*{d-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #459900 /*{d-bdown-background-start}*/, #459900 /*{d-bdown-background-end}*/);
}
.ui-btn-down-d:visited,
.ui-btn-down-d:hover,
.ui-btn-down-d a.ui-link-inherit {
	color: #0000ff /*{d-bdown-color}*/;
}
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
	text-decoration: none;
}


/* E
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-e {
	border: 1px solid #000000 /*{e-bar-border}*/;
	background: #c4c4c4 /*{e-bar-background-color}*/;
	color: #000000 /*{e-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ #ffffff /*{e-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c4c4c4 /*{e-bar-background-start}*/), to( #c4c4c4 /*{e-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #c4c4c4 /*{e-bar-background-start}*/, #c4c4c4 /*{e-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #c4c4c4 /*{e-bar-background-start}*/, #c4c4c4 /*{e-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #c4c4c4 /*{e-bar-background-start}*/, #c4c4c4 /*{e-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #c4c4c4 /*{e-bar-background-start}*/, #c4c4c4 /*{e-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #c4c4c4 /*{e-bar-background-start}*/, #c4c4c4 /*{e-bar-background-end}*/);
}
.ui-bar-e .ui-link-inherit {
	color: #000000 /*{e-bar-color}*/;
}
.ui-bar-e a.ui-link {
	color: #7cc4e7 /*{e-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-e a.ui-link:visited {
    color: #2489ce /*{e-bar-link-visited}*/;
}
.ui-bar-e a.ui-link:hover {
	color: #2489ce /*{e-bar-link-hover}*/;
}
.ui-bar-e a.ui-link:active {
	color: #2489ce /*{e-bar-link-active}*/;
}
.ui-bar-e,
.ui-bar-e input,
.ui-bar-e select,
.ui-bar-e textarea,
.ui-bar-e button {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-body-e,
.ui-overlay-e {
	border: 1px solid #636363 /*{e-body-border}*/;
	color: #000000 /*{e-body-color}*/;
	text-shadow: 0 /*{e-body-shadow-x}*/ 0 /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ #ffffff /*{e-body-shadow-color}*/;
	background: #f2f2f2 /*{e-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f2f2f2 /*{e-body-background-start}*/), to( #f2f2f2 /*{e-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f2f2f2 /*{e-body-background-start}*/, #f2f2f2 /*{e-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f2f2f2 /*{e-body-background-start}*/, #f2f2f2 /*{e-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f2f2f2 /*{e-body-background-start}*/, #f2f2f2 /*{e-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f2f2f2 /*{e-body-background-start}*/, #f2f2f2 /*{e-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f2f2f2 /*{e-body-background-start}*/, #f2f2f2 /*{e-body-background-end}*/);
}
.ui-overlay-e {
	background-image: none;
	border-width: 0;
}
.ui-body-e,
.ui-body-e input,
.ui-body-e select,
.ui-body-e textarea,
.ui-body-e button {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-body-e .ui-link-inherit {
	color: #000000 /*{e-body-color}*/;
}
.ui-body-e .ui-link {
	color: #33acff /*{e-body-link-color}*/;
	font-weight: bold;
}
.ui-body-e .ui-link:visited {
    color: #2489ce /*{e-body-link-visited}*/;
}
.ui-body-e .ui-link:hover {
	color: #2489ce /*{e-body-link-hover}*/;
}
.ui-body-e .ui-link:active {
	color: #2489ce /*{e-body-link-active}*/;
}
.ui-btn-up-e {
	border: 1px solid #000000 /*{e-bup-border}*/;
	background: #424242 /*{e-bup-background-color}*/;
	font-weight: bold;
	color: #c7c7c7 /*{e-bup-color}*/;
	text-shadow: 0 /*{e-bup-shadow-x}*/ 1px /*{e-bup-shadow-y}*/ 0 /*{e-bup-shadow-radius}*/ #000000 /*{e-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #424242 /*{e-bup-background-start}*/), to( #424242 /*{e-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #424242 /*{e-bup-background-start}*/, #424242 /*{e-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #424242 /*{e-bup-background-start}*/, #424242 /*{e-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #424242 /*{e-bup-background-start}*/, #424242 /*{e-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #424242 /*{e-bup-background-start}*/, #424242 /*{e-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #424242 /*{e-bup-background-start}*/, #424242 /*{e-bup-background-end}*/);
}
.ui-btn-up-e:visited,
.ui-btn-up-e a.ui-link-inherit {
	color: #c7c7c7 /*{e-bup-color}*/;
}
.ui-btn-hover-e {
	border: 1px solid #575757 /*{e-bhover-border}*/;
	background: #303030 /*{e-bhover-background-color}*/;
	font-weight: bold;
	color: #366b1a /*{e-bhover-color}*/;
	text-shadow: 0 /*{e-bhover-shadow-x}*/ 1px /*{e-bhover-shadow-y}*/ 0 /*{e-bhover-shadow-radius}*/ #000000 /*{e-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #303030 /*{e-bhover-background-start}*/), to( #303030 /*{e-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #303030 /*{e-bhover-background-start}*/, #303030 /*{e-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #303030 /*{e-bhover-background-start}*/, #303030 /*{e-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #303030 /*{e-bhover-background-start}*/, #303030 /*{e-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #303030 /*{e-bhover-background-start}*/, #303030 /*{e-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #303030 /*{e-bhover-background-start}*/, #303030 /*{e-bhover-background-end}*/);
}
.ui-btn-hover-e:visited,
.ui-btn-hover-e:hover,
.ui-btn-hover-e a.ui-link-inherit {
	color: #366b1a /*{e-bhover-color}*/;
}
.ui-btn-down-e {
	border: 1px solid #c4c4c4 /*{e-bdown-border}*/;
	background: #8f8f8f /*{e-bdown-background-color}*/;
	font-weight: bold;
	color: #a3d3db /*{e-bdown-color}*/;
	text-shadow: 0 /*{e-bdown-shadow-x}*/ 1px /*{e-bdown-shadow-y}*/ 0 /*{e-bdown-shadow-radius}*/ #000000 /*{e-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #8f8f8f /*{e-bdown-background-start}*/), to( #8f8f8f /*{e-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #8f8f8f /*{e-bdown-background-start}*/, #8f8f8f /*{e-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #8f8f8f /*{e-bdown-background-start}*/, #8f8f8f /*{e-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #8f8f8f /*{e-bdown-background-start}*/, #8f8f8f /*{e-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #8f8f8f /*{e-bdown-background-start}*/, #8f8f8f /*{e-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #8f8f8f /*{e-bdown-background-start}*/, #8f8f8f /*{e-bdown-background-end}*/);
}
.ui-btn-down-e:visited,
.ui-btn-down-e:hover,
.ui-btn-down-e a.ui-link-inherit {
	color: #a3d3db /*{e-bdown-color}*/;
}
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e {
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
	text-decoration: none;
}


/* Structure */
/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/
a.ui-link-inherit {
	text-decoration: none !important;
}
/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #ad0000 /*{global-active-border}*/;
	background: #490909 /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 0 /*{global-active-shadow-radius}*/ #444444 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #420808 /*{global-active-background-start}*/), to( #4f0909 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #420808 /*{global-active-background-start}*/, #4f0909 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #420808 /*{global-active-background-start}*/, #4f0909 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #420808 /*{global-active-background-start}*/, #4f0909 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #420808 /*{global-active-background-start}*/, #4f0909 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #420808 /*{global-active-background-start}*/, #4f0909 /*{global-active-background-end}*/);
	        font-family: Helvetica, Arial, sans-serif, consolas /*{global-font-family}*/;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
	color: #ffffff /*{global-active-color}*/;
}
/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}
/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/
.ui-corner-all {
	-webkit-border-radius: 0em /*{global-radii-blocks}*/;
	border-radius: 0em /*{global-radii-blocks}*/;
}
/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-color: rgb(130,130,130);
	border-color: rgba(130,130,130,.3);
	border-style: solid;
}
/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	zoom: 1;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}
/* Icons
-----------------------------------------------------------------------------------------------------------*/
.ui-icon,
.ui-icon-searchfield:after {
	background-color: #000000 /*{global-icon-color}*/;
	background-color: rgba(0,0,0,NaN) /*{global-icon-disc}*/;
	background-image: url(images/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}
/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-alt .ui-icon,
.ui-icon-alt .ui-icon-searchfield:after {
	background-color: 						#fff;
	background-color: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}
/* No disc
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-nodisc .ui-icon,
.ui-icon-nodisc .ui-icon-searchfield:after,
.ui-icon-nodisc .ui-icon-alt .ui-icon,
.ui-icon-nodisc .ui-icon-alt .ui-icon-searchfield:after {
	background-color: transparent;
}
/* Icon sprite
-----------------------------------------------------------------------------------------------------------*/
/* plus minus */
.ui-icon-plus {
	background-position: 	-1px -1px;
}
.ui-icon-minus {
	background-position: 	-37px -1px;
}
/* delete/close */
.ui-icon-delete {
	background-position: 	-73px -1px;
}
/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px -1px;
}
.ui-icon-arrow-l {
	background-position: 	-144px -1px;
}
.ui-icon-arrow-u {
	background-position: 	-180px -1px;
}
.ui-icon-arrow-d {
	background-position: 	-216px -1px;
}
/* misc */
.ui-icon-check {
	background-position: 	-252px -1px;
}
.ui-icon-gear {
	background-position: 	-288px -1px;
}
.ui-icon-refresh {
	background-position: 	-323px -1px;
}
.ui-icon-forward {
	background-position: 	-360px -1px;
}
.ui-icon-back {
	background-position: 	-396px -1px;
}
.ui-icon-grid {
	background-position: 	-432px -1px;
}
.ui-icon-star {
	background-position: 	-467px -1px;
}
.ui-icon-alert {
	background-position: 	-503px -1px;
}
.ui-icon-info {
	background-position: 	-539px -1px;
}
.ui-icon-home {
	background-position: 	-575px -1px;
}
/* search */
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-611px -1px;
}
/* checkbox radio */
.ui-icon-checkbox-on {
	background-position: 	-647px -1px;
}
.ui-icon-checkbox-off {
	background-position: 	-683px -1px;
}
.ui-icon-radio-on {
	background-position: 	-718px -1px;
}
.ui-icon-radio-off {
	background-position: 	-754px -1px;
}
/* menu edit */
.ui-icon-bars {
	background-position: 	-788px -1px;
}
.ui-icon-edit {
	background-position: 	-824px -1px;
}
/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 200dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-bars, .ui-icon-edit,
	.ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(images/icons-36-white.png);
		-moz-background-size: 864px 18px;
		-o-background-size: 864px 18px;
		-webkit-background-size: 864px 18px;
		background-size: 864px 18px;
	}
	.ui-icon-alt .ui-icon {
		background-image: url(images/icons-36-black.png);
	}
	.ui-icon-plus {
		background-position: 	0 50%;
	}
	.ui-icon-minus {
		background-position: 	-36px 50%;
	}
	.ui-icon-delete {
		background-position: 	-72px 50%;
	}
	.ui-icon-arrow-r {
		background-position: 	-108px 50%;
	}
	.ui-icon-arrow-l {
		background-position: 	-144px 50%;
	}
	.ui-icon-arrow-u {
		background-position: 	-179px 50%;
	}
	.ui-icon-arrow-d {
		background-position: 	-215px 50%;
	}
	.ui-icon-check {
		background-position: 	-252px 50%;
	}
	.ui-icon-gear {
		background-position: 	-287px 50%;
	}
	.ui-icon-refresh {
		background-position: 	-323px 50%;
	}
	.ui-icon-forward {
		background-position: 	-360px 50%;
	}
	.ui-icon-back {
		background-position: 	-395px 50%;
	}
	.ui-icon-grid {
		background-position: 	-431px 50%;
	}
	.ui-icon-star {
		background-position: 	-467px 50%;
	}
	.ui-icon-alert {
		background-position: 	-503px 50%;
	}
	.ui-icon-info {
		background-position: 	-538px 50%;
	}
	.ui-icon-home {
		background-position: 	-575px 50%;
	}
	.ui-icon-search,
	.ui-icon-searchfield:after {
		background-position: 	-611px 50%;
	}
	.ui-icon-checkbox-on {
		background-position: 	-647px 50%;
	}
	.ui-icon-checkbox-off {
		background-position: 	-683px 50%;
	}
	.ui-icon-radio-on {
		background-position: 	-718px 50%;
	}
	.ui-icon-radio-off {
		background-position: 	-754px 50%;
	}
	.ui-icon-bars {
		background-position: 	-788px 50%;
	
	}.ui-icon-edit {
		background-position: 	-824px 50%;
	}
}
/* checks,radios */
.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #490909 /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}
/* loading icon */
.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;
}
/* Button corner class
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-corner-all {
	-webkit-border-radius: 0em /*{global-radii-buttons}*/;
	border-radius: 0em /*{global-radii-buttons}*/;
}
/* radius clip workaround for cleaning up corner trapping */
.ui-corner-all,
.ui-btn-corner-all {
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/
.ui-overlay {
	background: #666;
	filter: Alpha(Opacity=50);
	opacity: .5;
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0 0 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0 0 12px 		rgba(0,0,0,.6);
	box-shadow: 0 0 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0 1px 5px /*{global-box-shadow-size}*/ rgba(0,0,0,0.5) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0 1px 5px /*{global-box-shadow-size}*/ rgba(0,0,0,0.5) /*{global-box-shadow-color}*/;
	box-shadow: 0 1px 5px /*{global-box-shadow-size}*/ rgba(0,0,0,0.5) /*{global-box-shadow-color}*/
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	box-shadow: 0 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}
/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/
.ui-btn:focus, .ui-link-inherit:focus {
	outline: 0;
}
.ui-btn.ui-focus {
	z-index: 1;
}
.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: inset 0 0 3px #490909 /*{global-active-background-color}*/, 0 0 9px #490909 /*{global-active-background-color}*/;
	-webkit-box-shadow: inset 0 0 3px #490909 /*{global-active-background-color}*/, 0 0 9px #490909 /*{global-active-background-color}*/;
	box-shadow: inset 0 0 3px #490909 /*{global-active-background-color}*/, 0 0 9px #490909 /*{global-active-background-color}*/;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	-moz-box-shadow: 0 0 12px #490909 /*{global-active-background-color}*/;
	-webkit-box-shadow: 0 0 12px #490909 /*{global-active-background-color}*/;
	box-shadow: 0 0 12px #490909 /*{global-active-background-color}*/;	
}
/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/
.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
	outline-width: 1px;
	outline-style: auto;
}
			